<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="storagePath" value="Measurements" />
    <add key="SH_threshold" value="0.002" />
    <add key="HI_max_threshold" value="5" />
    <add key="OUT_OF_BAND_PERCENT" value="25" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Service.WeatherService" behaviorConfiguration="WeatherServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000" />
          </baseAddresses>
        </host>
        <endpoint address="WeatherService"
                  binding="netTcpBinding"
                  bindingConfiguration="WeatherTcpBinding"
                  contract="Common.IWeatherService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="WeatherTcpBinding"
                 maxReceivedMessageSize="1048576"
                 openTimeout="00:00:10"
                 sendTimeout="00:00:30"
                 receiveTimeout="00:10:00" />
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="WeatherServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
